body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
  position: relative;
  min-height: 100vh;
}

/* Strelka uslubi */
.next-arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
}

.next-arrow:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}